body{
	font-family: 'Segoe UI';
	margin: 0;
	padding: 0;
}

.header{
	background-image: url(../img/benefits-bggirl.svg);
	min-height: 620px;
	background-size: cover;
	background-position: center;
	position: relative;
	padding-bottom: 20px;
}

.container{
	margin: 0 auto;
}

.header-top-bg{
	background-color: #222222;
	opacity: .8;
	height: 64px;
}

.header-bottom-bg{
	background-color: #222222;
	position: absolute;
	opacity: .8;
	bottom: 15px;
	width: 100%;
}

.header-top{
	display: flex;
	justify-content: space-between;
}

.logo img{
	height: 70px;
	position: relative;
	z-index: 5;
}

.top-menu{
	font-size: 14px;
	text-transform: uppercase;
}

.top-menu li{
	line-height: 39px;
	padding: 0 10px;
	list-style: none;
}

.top-menu a:hover{
	color: #01DCC3;
	transition: all 0.3s;
}

.top-menu ul{
	display: flex;
}

.top-menu ul a{
	text-decoration: none;
	color: #fff;
}

.header-bottom{
	display: flex;
	align-items: center;
}

.header-bottom-left{
	width: 35%;
	text-align: right;
}

.header-bottom-left img{

}

.header-bottom-right{
	width: 65%;
	display: flex;
	text-align: left;
}

.header-bottom-left::after {
	content: url('../img/vertical_line.svg');
}

.header-bottom-desc__h1{
	font-size: 18px;
	color: #01DCC3;
	padding-left: 30px;
	margin-top: 20px;
	text-transform: uppercase;
}

.header-bottom-desc__p{
	font-size: 18px;
	color: #fff;
	padding-left: 30px;
	margin-top: 20px;
}

.section__h1{
	font-size: 42px;
	color: #4E4E4E;
	text-transform: uppercase;
	text-align: center;
	margin-top: 100px;
	font-weight: 600;
}

.services_content{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.service{
	display: flex;
	align-items: center;
	margin-bottom: 40px;
	width: 49%;
}

.service_img{
	right: 0;
	width: 35%;
	text-align: right;
}

.service_text{
	font-size: 18px;
	padding: 60px;
	max-width: 250px;
	width: 65%;
}

.service:hover{
	color: rgba(0, 144, 145, 1);
	font-weight: 600;
	cursor: pointer;
	filter: invert(35%) sepia(85%) saturate(834%) hue-rotate(142deg) brightness(97%) contrast(101%);
	transition: all 0.3s;
}

.facts{
	display: flex;
	justify-content: space-between;
	margin-top: 45px;
}

.fact_1{
	font-size: 64px;
	font-weight: bold;
	color:#FFFFFF;
	background: rgba(1, 223, 190, 0.4);
	line-height: 86px;
	text-align: center;
	text-transform: uppercase;
	width: 262px;
	height: 88px;
	border: 1px solid #01DFBE;
	box-sizing: border-box;
}

.fact_2{
	font-size: 64px;
	font-weight: bold;
	color:#FFFFFF;
	background: rgba(196, 182, 172, 0.9);
	line-height: 86px;
	text-align: center;
	text-transform: uppercase;
	width: 262px;
	height: 88px;
	border: 1px solid #F26603;
	box-sizing: border-box;
}

.fact_3{
	font-size: 64px;
	font-weight: bold;
	color:#FFFFFF;
	line-height: 86px;
	text-align: center;
	width: 262px;
	height: 88px;
	background: rgba(172, 189, 194, 0.9);
	border: 1px solid #01AFDF;
	box-sizing: border-box;
}

.fact_4{
	font-size: 64px;
	font-weight: bold;
	color:#FFFFFF;
	background: rgba(197, 184, 191, 0.9);
	line-height: 86px;
	text-align: center;
	width: 262px;
	height: 88px;
	border: 1px solid #FF7AC2;
	box-sizing: border-box;
}

.fact_1:hover{
	background-color: rgba(1, 223, 190, 0.8);
	cursor: pointer;
	box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.25);
}

.fact_2:hover{
	background-color: rgba(242, 102, 3, 0.8);
	cursor: pointer;
	box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.25);
}

.fact_3:hover{
	background-color: rgba(1, 175, 223, 0.8);
	cursor: pointer;
	box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.25);
}

.fact_4:hover{
	background-color: rgba(255, 122, 194, 0.8);
	cursor: pointer;
	box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.25);
}

.arrow_item img{
	margin-top: 15px;
	margin-left: 50%;

}

.text_item{
	text-align: center;
	width: 262px;
	text-transform: uppercase;
	margin-top: 10px;
	font-size: 18px;
	color: rgba(0, 0, 0, 1);
	line-height: 23px;
}
.directions_work{
	display: flex;
	justify-content: space-between;
	text-align: center;
	flex-wrap: wrap;
	border: 1px solid rgba(193, 192, 192, 1);
	border-style: dashed;
	background-color: rgba(252, 252, 252, 1);
	margin-top: 40px;

}

.directions_content{
	display: flex;
	padding: 30px 0px 30px 40px;
	width: 29%;
}

.directions_img{
	padding-top: 15px;
	right: 0;
	text-align: right;
}

.directions_text{
	padding-left: 20px;
	font-size: 18px;
	line-height: 64px;
	color: rgba(78, 78, 78, 1);
	left: 0;
	text-align: left;
}

.our_projects{
	display: flex;
	justify-content: space-between;
	margin-top: 80px;
}

.projects_1{
	position: relative;
}

.img_bg_1{
	border-top: 1px solid #02b4b5;
	border-radius: 5px 5px 0 0;
	background-color: #02b4b5;
	width: 315px;
	height: 250px;
}

.boy_img{
	position: absolute;
	left: -40px;
	top: -56px;
}

.projects_2{
	position: relative;
}

.img_bg_2{
	border-top: 1px solid #d05e24;
	border-radius: 5px 5px 0 0;
	background-color: #d05e24;
	width: 315px;
	height: 250px;
}

.icon_img{
	position: absolute;
	left: 21px;
	top: -70px;
	z-index: 1;
}

.map_img{
	position: absolute;
	left: -40px;
	top: 70px;
	z-index: 2;
}

.projects_3{
	position: relative;
}

.img_bg_3{
	border-top: 1px solid #03689e;
	border-radius: 5px 5px 0 0;
	background-color: #03689e;
	width: 315px;
	height: 250px;
}

.family_img{
	position: absolute;
	right: 42px;
	top: -56px;
	z-index: 1;
}

.text_bg_1{
	background-color: rgba(0, 144, 145, 1);
	border-top: 1px solid rgba(0, 144, 145, 1);
	border-radius: 0 0 5px 5px;
	width: 315px;
	height: 170px;
}

.text_bg_2{
	background-color: rgba(201, 71, 5, 1);
	border-top: 1px solid rgba(201, 71, 5, 1);
	border-radius: 0 0 5px 5px;
	width: 315px;
	height: 170px;
}

.text_bg_3{
	background-color: rgba(0, 94, 145, 1);
	border-top: 1px solid rgba(0, 94, 145, 1);
	border-radius: 0 0 5px 5px;
	width: 315px;
	height: 170px;
}

.projects_text{
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	color: rgba(255, 255, 255, 1);
	line-height: 24px;
	position: absolute;
	bottom: 83px;
	left: 44px;
	width: 225px;
	
}

.more a{
	border-radius: 4px;
	border: 1px solid rgba(255, 255, 255, 1);
	box-sizing: border-box;
	text-decoration: none;
	font-size: 16px;
	color: rgba(255, 255, 255, 1);
	line-height: 24px;
	text-transform: uppercase;
	cursor: pointer;
	padding: 10px;
	width: 215px;
	text-align: center;
	position: absolute;
	bottom: 21px;
	left: 48px;
}

.footer{
	background-color: rgba(68, 68, 68, 1);
}

.container_footer{
	position: relative;
	height: 716px;
}

.footer .footer__h1{
	color: rgba(255, 255, 255, 1);
	padding-top: 67px;
	padding-bottom: 20px;
}

.letter{
	height: 674px;
	width: 682px;
	position: absolute;
	right: 120px;
	top: 0;
}

.text_footer{
	color: rgba(255, 255, 255, 1);
	font-size: 22px;
	line-height: 29px;
}

.contacts{
	display: flex;
	justify-content: space-between;
	width: 726px;
}

.contacts p{
	font-size: 26px;
	color: rgba(255, 255, 255, 1);
	text-transform: uppercase;
	line-height: 35px;
}

.feedback input{
	border: 1px solid rgba(127, 127, 127, 1);
	box-sizing: border-box;
	border-radius: 8px;
	background-color: rgba(68, 68, 68, 1);
	height: 52px;
	width: 360px;
	margin-bottom: 15px;
}

.message textarea{
	border: 1px solid rgba(127, 127, 127, 1);
	box-sizing: border-box;
	border-radius: 8px;
	background-color: rgba(68, 68, 68, 1);
	height: 162px;
	width: 360px;
}

textarea::placeholder, input::placeholder{
	font-size: 22px;
	color: rgba(255, 255, 255, 1);
	line-height: 29px;
	text-align: ;
	padding: 8px;
}

.submit input{
	font-size: 22px;
	color: rgba(255, 255, 255, 1);
	line-height: 29px;
	text-align: center;
	background: rgba(7, 184, 158, 1);
	border-radius: 8px;
	height: 54px;
	width: 230px;
	margin-top: 35px;
}

.phone{
	display: flex;
	margin-top: 163px;
}

.mail{
	display: flex;
}

.connection{
	font-size: 18px;
	color: rgba(255, 255, 255, 1);
	line-height: 24px;
	padding-left: 13px;
}

.app{
	background-color: rgba(64, 64, 64, 1);
	text-align: center;
	cursor: pointer;
}

.app img{
	padding: 30px;
}

/*Адаптивное меню*/

.toggle_button{
	display: none;
	margin: 15px 15px 0px 0px;
	position: relative;
	width: 30px;
	height: 20px;
	z-index: 5;	
}
.toggle_button span{
	position: absolute;
	background-color: #fff;
	left: 0;
	width: 100%;
	height: 2px;
	top: 9px;
	transition: all 0.3s ease 0s;
}
.toggle_button:before,
.toggle_button:after{
	content: '';
	background-color: #fff;
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	transition: all 0.3s ease 0s;
}
.toggle_button:before{
	top: 0;
}
.toggle_button:after{
	bottom: 0;
}
.top-menu.active{
	top: 0;
}
.toggle_button.active:before{
	transform: rotate(45deg);
	top: 9px;
}
.toggle_button.active:after{
	transform: rotate(-45deg);
	bottom: 9px;
}
.toggle_button.active span{
	transform: scale(0);
}